.featured{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding:10px ;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        .title{
            font-size: 16px;
            font-weight: 600;
        }
    }
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 15px;

        .fearturedChart{
            width: 100px;
            height: 100px;
        }
        .title{
            font-weight: 500;
            color: gray;
        }
        .amount{
            font-size: 30px;
        }
        .decs{
            font-weight: 300;
            font-size:12px ;
            text-align: center;
            color: gray;
        }
        .summary{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .item{
                text-align: center;
                .itemTitle{
                    font-size: 14px;
                    color: gray;
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;
                    &.positive{
                        color: green;
                    }
                    &.negitive{
                        color: red;
                    }
                }
            }
        }
    }
}